.card{
   height: auto;
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   justify-content: center;
   outline: 1px solid #57575757;
   border-radius: 15px;
   backdrop-filter: blur(800px);
}
.card:hover{
   scale: 1.05;
}
.card>img{
   height: auto;
   width: 100%;
}
.cardFoot{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: auto;
   background-color: #ffffff23;
   margin: 5px;
   padding: 10px 0px;
   width: 100%;
}
.cardFoot>span{
   font-size: 16px;
   color: #000;
}
.buyLink{
   display: flex;
   align-items: center;
   justify-content: center;
   width: auto;
   font-size: 16px;
   padding: 5px;
   align-items: center;
   color: #000;
   background-color: rgb(0, 179, 255);
   border: 1px solid #000;
   border-radius: 20px;
}
.buyLink:hover{
   color: #000;
   background-color: rgb(255, 255, 255);
}
