.intro{
   display: flex;
   align-items: center;
   flex: .75;
   background-color: #fbfbfb;
   padding: 64px;
   height: 300px;
}
.tab-content{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Ubuntu", sans-serif;
   font-size: 18px;
   font-weight: 100;
}.nav{
border-right: 1px solid #111;
}
.nav>button{
   display: flex;
   width: 100px;
   text-align: center;
   justify-content: center;
   margin: 10px;
}