<footer class="footer">
   <div class="f-info-social">
      <a href="https://www.facebook.com" target="_blank">Facebook</a>
      <a href="https://www.instagram.com" target="_blank">Instagram</a>
   </div>
   <div>Airbnb | Aditya Tech. & Devops.</div>
   <div class="f-info-links">
      <a href="/privacy" target="_blank">Privacy Policy</a>
      <a href="/terms" target="_blank">Terms & Conditions</a>
   </div>
</footer>